extends ../layout/admin

block styles
    meta(name="CSRF-token", content= csrfToken)

block contenido
    h1(class="text-center text-4xl font-black text-slate-800")= pagina

    div(class="max-w-screen-xl my-10 mx-auto")
        a(
        href="/propiedades/crear"
        class="inline-block bg-indigo-500 md:hover:bg-indigo-700 text-white px-5 py-5 uppercase font-bold rounded-lg transition-colors w-full sm:w-auto text-center"
        ) Crear propiedad
    
    //-pre= JSON.stringify(propiedades, undefined, 2)

    if propiedades.length
        div(class="bg-white shadow rounded-lg")
            ul(class="divide-y divide-gray-200")
                each propiedad in propiedades 
                    li
                        div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")

                            div(class="sm:w-1/4 md:w-1/6")
                                img(
                                    src=`/uploads/${propiedad.imagen}`
                                    alt=`Imagen de ${propiedad.titulo}`
                                    class="h-36 w-full block rounded-lg"
                                )

                            div(class="sm:w-2/4 md:w-3/6 lg:w-4/6")
                                a(
                                    href=`/propiedad/${propiedad.id}`
                                    class="block text-2xl font-extrabold text-indigo-600 truncate"
                                )= propiedad.titulo
                                p(class=" text-sm font-bold text-black")= propiedad.categoria.nombre
                                p(class=" text-sm font-bold text-black")
                                    div.flex.items-center.gap-1.mt-2
                                        svg.size-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                                            path(stroke-linecap='round' stroke-linejoin='round' d='M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z')
                                        span.text-black.font-bold= propiedad.precio.nombre
                                    a(
                                        href=`/mensajes/${propiedad.id}`
                                        class="block text-gray-500 font-bold underline text-base mt-2 leading-8 lg:text-xs"
                                    )= `${propiedad.mensajes.length == 1 ? propiedad.mensajes.length + ' mensaje'   : propiedad.mensajes.length + ' mensajes'}`

                            div(class="sm:w-1/4 md:w-2/6 items-center space-y-3 md:space-y-0 md:flex md:gap-2")

                                button(
                                    class=`${propiedad.publicado ? 'bg-green-500' : 'bg-yellow-500'} text-white px-5 py-2 text-xl font-bold w-full rounded-md cursor-pointer lg:text-xs cambiarEstado`
                                    data-propiedad-id= propiedad.id
                                    
                                )= `${propiedad.publicado ? 'Publicado' : 'No publicado'}`

                                a(
                                    href=`/propiedades/editar/${propiedad.id}`
                                    class=`bg-blue-500 text-white px-5 py-2 text-xl font-bold w-full block text-center rounded-md cursor-pointer lg:text-xs`
                                ) Editar

                                form(
                                    action=`/propiedades/eliminar/${propiedad.id}`
                                    method="POST"
                                )

                                    input(
                                        type="hidden"
                                        name="_csrf"
                                        value= csrfToken
                                    )
                                    input(
                                        type="submit"
                                        value='Eliminar'
                                        class=`bg-red-500 text-white px-5 py-2 text-xl font-bold w-full rounded-md cursor-pointer lg:text-xs`
                                    )  

            div(class="sm:flex bg-white px-4 py-3 items-center justify-between border-t border-gray-200 sm:px-6")
                
                div(class="flex-1 flex justify-between sm:hidden")
                    a(
                    href=`/mis-propiedades?pagina=${paginaActual - 1}` 
                    class=`${paginaActual == 1 ? 'pointer-events-none' : '' } relative inline-flex items-center px-4 py-2 border border-gray-500 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`
                    ) Anterior

                    a(
                    href=`/mis-propiedades?pagina=${paginaActual + 1}` 
                    class=`${paginaActual == paginas ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-500 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`
                    ) Siguiente

                div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between gap-2")
                    p(class="text-sm text-gray-700") Mostrando 
                        span(class="font-medium") #{offset + 1}  
                        span(class="font-medium") y #{total < limit + offset ? total : limit + offset} de  
                        span(class="font-medium") #{total} resultados  

                div(class="hidden sm:block") 
                    nav(class="relative z-0 inline-flex gap-x-2 rounded-md shadow-md")
                        -var n = 1
                        while n <= paginas
                            a(
                                href=`/mis-propiedades?pagina=${n}` 
                                class=`${paginaActual == n ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-bold`) #{n++}
            
                            
    else
        p.text-center No hay propiedades
    
block scrypts
    script(src="/js/estadoPropiedad.js")  